div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url(../images/fon.jpg);
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: hidden;
   overflow-y: hidden;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border: 1px transparent solid;
   border-radius: 6px;
}
#Layer2
{
   background-color: transparent;
   background-image: url(../images/golova.png);
   background-repeat: repeat;
   background-position: left top;
}
